<!DOCTYPE html>
<html lang="es">
    <head>
        <title>
            articulo 
        </title>
        <script src="https://unpkg.com/vue@3"></script>
        <link rel="stylesheet" href="style.css">
        <script src="javascript/producto.js"></script>

    </head>
        <body>
            <header>
                <nav>
                    <div>
                        <a href="index.htmml"><img class="logo" src="logo.jpg"></a>
                        <a href="index.html">Inicio</a>
                        <a href="producto.html">Producto</a>
                        <div class="buscador">
        
                            <form action="">
                                <input type="text" placeholder="Que estas buscando?">
                                <button type="submit"> Buscar </button>
                            </form>
                            <a href="#">Categorias </a> <a href="#">Ofertas </a> <a href="administracion.html">Vender </a> <a
                                href="#">Ayuda </a>
                        </div>
                    </div>
        
                </nav>
            </header>
            <main>

                <a href="index.html"> Volver a la pagina principal</a>

                <div id="app">
                    <div class="cart"> Carrito({{ cart }}) 
                        <ul>
                            <li v-for="notebookComprada in notebooksCompradas"> {{notebookComprada.nombre}}: ${{notebookComprada.precio}}</li>
                            
                        </ul>
                    </div>

                    <div class="organizacion-prod">
                        <div class="descrip" >
                            <img v-for="urlImage in images_url" :src="urlImage"  @mouseover="cambiarImagen(urlImage)" style="max-width: 100%; max-height: 100%">
                        </div>
                        
                        <div class="descrip" >
                            <!-- <img id="imagen-producto" class="imagen-prod" alt="notebook" style="float: right;">--> 
                            <img class="foto" v-bind:src="image_url">                                           
                        </div>
                        
    
                        <div class="descrip">
                           <p>{{title}}</p><br>
                           <p>{{description}}</p> <br>
                           <p>${{price}}</p> <br>              
                           <!--<p id="titulo-producto" > <br>
                           <p id="descripcion-producto"><br>          
                           <p id="precio-producto"><br>--> 
                           <button type="submit" @click="addToCart">Comprar</button></a>
                           <p>RAM</p>
                           <ul>
                               <li @click="cambiarPrecio(variedad.precio)" v-for="variedad in variedadNotebooks"><button>{{variedad.cantidadRam}}</button></li>                             
                           </ul>

                           <p>
                               <a href="#">ver medios de pago</a> 
                           </p>
                       </div>
                    </div>                   
    
                    <a  id ="link-producto" target="_blank" rel="noopener noreferrer":href= "factory_url" >Sitio del fabricante </a>

                </div>

                <!-- Mount App -->
                <script>
                  const mountedApp = app.mount('#app')
                </script>
               
                <a href="#">Comentarios</a> <br>
                <hr>

                <h4>Esto puede interesarte...</h4>
                <a href="#"> <img src="compu.jpg" alt="compu"></a>
                <p>
                    $60.000 <br>
                    <a href="#"> <strong>envio gratis</strong> </a><br>
                    Notebook Dell Latitude 3190 11 Hd Intel Celeron N4120 4 Gb Ddr4-sdram 128 Gb <br>
                    Ssd Wi-fi 5 (802.11ac) Windows 10 Home Negro
                </p>
            </main>
        </body>

</html>