.logo{
    width: 11%;
}
.buscador{
    text-align: end;
    margin-top: -41px;
}
.banner{
    width: 100%;
    height: 580px;
}
.grid-layout{

    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    grid-auto-rows: minmax(100px, auto);
}
.one {
    grid-column: 30% 30%;
    grid-row: auto;
    grid-template-columns: auto;

}
.descrip{
   
    grid-column: 10% 30%;
    grid-row: 50% 30%;


}
.imagen-note{
    border-radius: 20%;
    border-width: 10px;
    border-color: black;
    border-style: solid;
    width: 180px;
    height: 180px;
}
.imagen-prod{
    border-radius: 20%;
    border-width: 10px;
    border-color: black;
    border-style: solid;
    width: auto;
    height: auto;
}
.organizacion-prod{
    display: grid;
    grid-template-columns: 15% 60% auto;
    grid-gap: 30px;
    /*grid-auto-rows: minmax(100px, auto);*/
    grid-column: 1 / 2;
    
}
.necesitas-vender{
    font: size 900px;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
}
body{
    background-color: blanchedalmond;
}
.cart {
    margin: 20px 30px;
    float: right;
    border: 1px solid #d8d8d8;
    padding: 10px 30px;
    background-color: white;
    -webkit-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
    box-shadow: 2px 15px -12px rgba(0, 0, 0, 0.57);
  }
  .foto{
    max-width: 100%;
    max-height: 100%;
  }


